<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
    <link rel="stylesheet" href="static/index.css">
    <script src="/static/Script.js" defer></script>
    <title>Edit</title>
</head>
<body>
    <p>edit trade page</p>
    <div>
        <div>
            <header class="primary-header flex">
                <div><a href="/dashboard"><img class="logo" id="logo" src="/static/assets/logo92.png" alt="logo"></a>
                </div>
                <div>
                    <div class="uppercase">
                        <h1>Edit your strategies</h1>
                    </div>
                </div>
                <button class="mobile-nav-toggle"  aria-controls="primary-nav" aria-expanded="false"><span class="sr-only"></span></button>
                <nav>
                    <ul id="primary-nav" data-visible="false"class="primary-nav underline-indicators flex">
                        <li ><a class="large-click uppercase text-white letter-spacing-2" href="/dashboard">
                            <span aria-hidden="true">00</span>Dashboard</a></li>
                        <li class="active"><a class="large-click uppercase text-white letter-spacing-2" href="/new">
                            <span aria-hidden="true">01</span>Edit Strategy</a></li>
                        <li ><a class="large-click uppercase text-white letter-spacing-2" href="/user/account">
                        <span aria-hidden="true">02</span>Account</a></li>
                        <li> <a class="large-click uppercase text-white letter-spacing-2" href="/logout">
                            <span aria-hidden="true">03</span>Logout</a> </li>
                </nav>
            </header>
        </div>
        <div class="container flex">
            <form action="/strategies/{{this_strategy.id}}/edit_in_db" method="POST">
                <div class="pair-form">
                    <label for="testing pair">Testing Pair</label>
                    <input type="text" name="ticker" id="ticker">
                </div>
                <div class="pair-form">
                    <label for="indicator_one">Indicator 1</label>
                    <input type="number" min="1" max="240" name="indicator_one">
                </div>
                <div class="pair-form">
                    <label for="indicator_two">indicator 2</label>
                    <input type="number" min="1" max="240" name="indicator_two">
                </div>
                <div class="uppercase text-white letter-spacing-2 flex ">
                    <input type="submit" value="Confirm Edit">
                </div>
            </form>
        </div>
</body>